
#carouselContainer {
    width: 240px;
    float: right;
    margin-right: 15px;
}

/*.carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.modGallery{
    left: 15%;
}

.modal-dialog{
    margin-top: 0px;
}

.modImg{
    width: 240px;
}

#pokedex {
    width: 50%; 
 }
 
 #pokeImg {
     width: 40%;
 }