header{
    width: 100%;
    height: 50px;
}

main{
    height: 100vh;
}

#favs{
    height: 50px;
}

#logo {
    height: 52%;
    width: 55%;
    justify-content: end;
}

.button {
  background-color: #444040;
  color: #F7E8E8;
  border-radius: 10px;
  border: 4px solid #444040;
  text-align: center;
  margin: 9px;
  box-shadow: 1px 0px 3px 1px #393939;
}

.button:hover {
  background-color: #231D1D;
  border-radius: 10px;
  border: 4px solid #231D1D;
  box-shadow: 1px 0px 3px 1px #393939;
}

#carouselContainer {
    width: 240px;    
    margin-right: 15px;
    align-self: center;
}

/*.carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.modGallery{
    left: 15%;
}

.modal-dialog{
    margin-top: 0px;
}

.modImg{
    width: 240px;
}

#pokedex {
    width: 40%; 
    border:10px inset rgb(36, 35, 35);
    margin: 10%;
    align-self: center;
 }
 
 #pokeImg {
     width: 20%;
 }


 /* VGC info scroll boxes */
.pokemonGoToThePolls {
    width: 250px;
    height: 250px;
    background-color: gray;
    border: 10px inset rgb(36, 35, 35);
    margin: 1%;
    overflow: auto;
    align-self: center;
    display: none;
 }

/* Vid Game button */
 #vgc {
    display: none;
 }

 .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  #incrementpokemon{
    display: none;
  }

  #decrementpokemon{
    display: none;
  }