
#carouselContainer {
    width: 240px;
    float: right;
    margin-right: 15px;
}

/*.carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.modGallery{
    left: 15%;
}

.modal-dialog{
    margin-top: 0px;
}

.modImg{
    width: 240px;
}

#pokedex {
    width: 40%; 
    border:10px inset rgb(36, 35, 35);
    margin: 0px 25%;
 }
 
 #pokeImg {
     width: 20%;
 }