header{
    width: 100%;
    height: 50px;
}


#carouselContainer {
    width: 240px;    
    margin-right: 15px;
}

/*.carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.modGallery{
    left: 15%;
}

.modal-dialog{
    margin-top: 0px;
}

.modImg{
    width: 240px;
}

#pokedex {
    width: 40%; 
    border:10px inset rgb(36, 35, 35);
    margin: 0px 25%;
 }
 
 #pokeImg {
     width: 20%;
 }


 /* VGC info scroll boxes */
.pokemonGoToThePolls {
    width: 250px;
    height: 250px;
    background-color: gray;
    border: 10px inset rgb(36, 35, 35);
    margin: 1%;
    overflow: auto;
    align-self: center;
    display: none;
 }

 #vgc {
    display: none;
 }
