header {
    width: 100%;
    height: 60px;
    background-color: #1b98e0;
    /* background-color: #1b98e0; */
}

body {
  background-color: #B9274C;
}

main {
    height: 100vh;
}

#dropdownMenuButton {
  height: 95%;
}

#favs {
    height: 50px;
}

#logo {
    height: 62px;
    width: 200px;
    justify-self: end;
}

main button, #searchButton {
  background-color: #3D3D3D;
  color: #F1FCED;
  border-radius: 10px;
  border: 4px solid #3D3D3D;
  text-align: center;
  margin: 9px;
  box-shadow: 2px 1px 4px 1px #393939;
}

button:hover {
  background-color: #231D1D;
  border-radius: 10px;
  border: 4px solid #231D1D;
  box-shadow: 1px 0px 3px 1px #393939;
}

#carouselContainer {
    width: 240px;    
    margin-right: 15px;
    align-self: center;
    display: none;
}

/*.carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.modGallery{
    left: 15%;
}

.modal-dialog{
    margin-top: 0px;
}

.modImg{
    width: 240px;
}

#pokedex {
    width: 40%; 
    background-color: #7F7F7F;
    border:10px inset #242323;
    margin: 10%;
    align-self: center;
 }
 
 #pokeImg {
     width: 20%;
 }

 #console {
  align-self: center;
 }

 /* VGC info scroll boxes */
legend {
  color:#F1FCED;
  background-color: #7F7F7F;
  border: 3px solid #242323;
  margin: 2%;
  display: none;
}

.vgcInfoScroll {
    width: 250px;
    height: 250px;
    color:#F1FCED;
    background-color: #7F7F7F;
    border: 10px inset #242323;
    margin: 1%;
    overflow: auto;
    display: none;
 }

/* Vid Game button */
 #vgc {
    position: relative;
    align-self: center;
    display: none;
 }

 .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #D4D4D4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #F1FCED;
    border-bottom: 1px solid #D4D4D4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #E9E9E9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #F8C30B !important;
    color: #231D1D;
  }

  #incrementpokemon{
    display: none;
  }

  #decrementpokemon{
    display: none;
  }